@page "/admin/roles"
@inject HttpClient Http
@inject IJSRuntime jsr
@inject NavigationManager nav
@using EtherpunkBlazorWasm.Shared
@using Microsoft.AspNetCore.Authorization;

<h3>Role Administration</h3>
@if(!string.IsNullOrEmpty(message))
{
    <p>Message: @message</p>
}
@if (RoleList == null)
{
    <p><em>Loading... </em></p>
}
else
{
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Users</th>
           <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @foreach(var role in RoleList) {
            <tr>
              <td>@role.Name (@role.UserList.Count users)</td>
                <td>
                    @foreach(var user in role.UserList)
                    {
                            <a href="/admin/user/@user.Id">@user.Name</a>
                            <span title="Remove this user from role"><i class="fa-solid fa-user-slash"></i></span>
                        <br />
                    }
                </td>
                    <td>
                        <span title="Add a user"><i class="fa-solid fa-user-plus"></i></span> | 
                        <span title="Edit role name"><i class="fa-solid fa-pencil"></i></span> | 
                        <span title="Expire all tokens"><i class="fa-solid fa-user-xmark"></i></span> | 
                        <span title="Delete role"><i class="fa-solid fa-trash"></i></span>
                    </td>
            </tr>
        }
      </tbody>
    </table>

    <p>Role Count: @RoleList.Count</p>
}

@code {
    List<RoleModel>? RoleList { get; set; }
    string? userdata;
    string? message;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        // Validate user auth to make sure they can be here
        // Get list roles and users
        var response = await GetRolesApi();

        if (response.accessGranted)
        {
            RoleList = response.roleList;

        }
        else
        {
            message = response.error;
        }
    }

    private async Task<(bool accessGranted, string error, List<RoleModel>? roleList)> GetRolesApi()
    {
        bool accessGranted = false;
        string error = string.Empty;
        List<RoleModel>? roleList = null;
        try
        {
            var requestMsg = new HttpRequestMessage(HttpMethod.Get, $"/api/auth/rolelist");
            requestMsg.Headers.Add("Authorization", "Bearer " + await Client.Auth.Jwt.GetJWT(jsr));
            var response = await Http.SendAsync(requestMsg);
            switch (response.StatusCode)
            {
                case System.Net.HttpStatusCode.Unauthorized:
                    await jsr.InvokeVoidAsync("localStorage.removeItem", "user").ConfigureAwait(false);
                    userdata = null;
                    error = "Unauthroized, token expired?";
                    break;
                case System.Net.HttpStatusCode.Forbidden:
                    error = "Not allowed to see this!";
                    break;
                case System.Net.HttpStatusCode.NoContent:
                    break;
                case System.Net.HttpStatusCode.InternalServerError:
                    error = $"Internal Server Error: {response.Content}";
                    break;
                default:
                    break;
            }
            if (response.IsSuccessStatusCode)
            {
                accessGranted = true;
                roleList = await response.Content.ReadFromJsonAsync<List<RoleModel>>();
            }
        }
        catch (Exception ex)
        {
            error = ex.ToString();
        }

        return (accessGranted, error, roleList);
    }
}
