@page "/admin/roles"
@inject HttpClient Http
@inject IJSRuntime jsr
@inject NavigationManager nav
@using EtherpunkBlazorWasm.Shared
@using Microsoft.AspNetCore.Authorization;
<h3>Role Administration</h3>

@if(isAccessGranted == false)
{
    <p>You are not authorized to be here. Ruh roh!</p>
    if(!string.IsNullOrEmpty(message))
    {
        <p>Message: @((MarkupString)message)</p>
    }
    return;
}
@if (RoleList == null)
{
    <p><em>Loading... </em></p>
}
else
{
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Users</th>
           <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @foreach(var role in RoleList) {
            <tr>
              <td>@role.Name (@role.UserList.Count users)</td>
                <td>
                    @foreach(var user in role.UserList)
                    {
                            <a href="/admin/user/@user.Id">@user.Name</a>
                            <span title="Remove this user from role"><i class="fa-solid fa-user-slash"></i></span>
                        <br />
                    }
                </td>
                    <td>
                        <span title="Add a user"><i class="fa-solid fa-user-plus"></i></span> | 
                        <span title="Edit role name"><i class="fa-solid fa-pencil"></i></span> | 
                        <span title="Expire all tokens"><i class="fa-solid fa-user-xmark"></i></span> | 
                        <span title="Delete role"><i class="fa-solid fa-trash"></i></span>
                    </td>
            </tr>
        }
      </tbody>
    </table>

    <p>Role Count: @RoleList.Count</p>
}
@code {
    //NOTE: @attribute [Authorize(Roles = "Adminz")]; // DOES NOT SEEM TO WORK. DO NOT KNOW WHY.
    List<RoleModel>? RoleList { get; set; }
    string? userData;
    string? message;
    bool? isAccessGranted = null;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        userData = await Client.Auth.Jwt.GetJWT(jsr);

        // Validate user auth to make sure they can be here
        // Get list roles and users
        var response = await GetRolesApi();

        if (response.accessGranted)
        {
            isAccessGranted = true;
            RoleList = response.roleList;
        } else
        {
            isAccessGranted = false;
        }
    }

    private async void AddUserToRole()
    {
        UserRole ur = new()
        {
            RoleId = Guid.NewGuid(),
            UserId = Guid.NewGuid()
        };
        //using (var msg = await Http.PostAsJsonAsync<LoginModel>("/api/auth/login", user, System.Threading.CancellationToken.None))
        var response = await Client.Auth.ApiHandler<RoleModel>.GetApiDataAsync("api/auth/addUserToRole", jsr, Http);
    }

    private async Task<(bool accessGranted, List<RoleModel>? roleList)> GetRolesApi()
    {
        var response = await Client.Auth.ApiHandler<RoleModel>.GetApiDataAsync("/api/auth/roleList", jsr, Http);
        if(response.HttpResponse?.IsSuccessStatusCode == true)
        {
            return (true,response.Data);
        } else
        {
            message  = $"HttpResponse.StatusCode: {response.HttpResponse?.StatusCode}<hr />";
        }

        return (false, null);
    }
}
